body {
    background-image: url("./img/Arthas.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}

.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 1 / 9 / 2; }
    .div3 { grid-area: 3 / 3 / 6 / 6; }
    .div4 { grid-area: 2 / 3 / 3 / 4; }
    .div5 { grid-area: 2 / 4 / 3 / 5; }
    .div6 { grid-area: 2 / 5 / 3 / 6; }

.dropDownMenu {
    background-color: #2980B9;
    color: white;
    height: 100px;
    width: 200px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: 2px solid grey;
    cursor: pointer;
    text-shadow: 
     3px 3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.dropdownMenuContent:hover {
    background-color: darkslategrey;
}

.hide {
    display: none;
}

.show {
    display: block;
    width: 250px;
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 15px;
    text-shadow: 
     3px 3px 0 #000, 
    -1px -1px 0 #000, 
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

table, tr, td, th {
    border: 3px solid black;
    color: rgb(255, 255, 255);
    border-collapse: collapse;
    text-align: center;
    align-content: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(163, 154, 154, 0.3);
    font-weight: bold;
    text-shadow:
     3px 3px 0 #000, 
    -1px -1px 0 #000,
     1px -1px 0 #000, 
    -1px 1px 0 #000, 
     1px 1px 0 #000;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

td, th {
    padding: 10px;
}

th {
    background-color: #2980B9;
}

.choosebuttons {
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 200px;
    height: 70px;
    text-shadow: 
     3px 3px 0 #000, 
    -1px -1px 0 #000, 
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.backButtonColor {
    background-color: #2980B9;
}

.rogueColor {
    background-color: yellow;
}

.deathKnightColor {
    background-color: rgb(195, 0, 0);
}

.bloodSpecColor {
    background-color: rgb(195, 0, 0);
}

.frostSpecColor {
    background-color: blue;
}

.unholySpecColor {
    background-color: rgb(37, 212, 37);
}